html {
    height: 100%;
}

div {
    box-sizing: border-box;
    
}

#x, #y, #one, #two, #three, #four, #five, #six {
    border: 1px solid black;
}


body {
    
    margin: 0;
    height: fit-content ;


}
h2, h4 {
    margin: 0;
}
span {
    margin: 10px;
}
#one, #six {
    background-color: lightblue;

    min-width: 100%;
    
}


#two, #four {
    background-color: lightcoral;
    border: 1px solid black;
}
#two {
    

    display: inline-block;
    width: 20%;
    height: 100%;
    max-height: fit-content;
    margin: 0%;
    vertical-align: top;
}

nav {
    
    margin: 10px;
}

a {
    text-align: end;
}

#block {
    display: inline-block;
    height: fit-content ;
    min-height: 100%;
}

#second-block{
    display: inline-block;
    width: 80%;
    max-height: fit-content;
    vertical-align: top;
    height: fit-content;
}

#third-block{
    
    display: inline-block;
    width: 100%;
    height:fit-content;
}


#three {
    display: inline-block;
    width: 80%;
    margin: 0%;
   
    height: 100%;
    max-height: fit-content;
    vertical-align: top;
    
}

#four  {
    display: inline-block;
    width: 20%;
    
    height: 100%;
    margin: 0%;
    vertical-align: top;

}

#five {
    
    background-color: lightgreen;
    display: inline-block;
    width: 100%;
    height: 20%;
    vertical-align: top;
    
}



#x, #y {
    background-color: aliceblue;
    border: 1px solid black;
    height: fit-content;
    margin: 10px;
    width: 20%;
    display: inline-block;
}

#y{
    text-align: left;
}

#y-span{
    float: right;
}

#x{
    text-align:right;
}

#x-span {
    float: right;
}


